@charset "ISO-8859-1";

.card {
	text-align: center;
	border: none;
	border-radius: 2px;
	-moz-box-shadow: 12px 14px 22px 2px rgba(0, 0, 0, 0.50);
	box-shadow: 12px 14px 22px 2px rgba(0, 0, 0, 0.50);
	margin-bottom: 100px;
	width: 30%;
	border-radius: 15px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin-bottom: 1px;
}

.col{
  position: relative;
  width: 70%;
  height: 100%;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}
.card-img-bot {
    width: 65%;
    height: 30vw;
    object-fit: cover;
}
